table {
    border-collapse: collapse;
    width: 100%;
}

/* Style table header */
th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

/* Style table data cells */
td {
    padding: 10px;
    text-align: center;
}

/* Highlight top positions */
tr:nth-child(-n+1) {
    background-color: #67ed52; /* Yellow */
}

tr:nth-last-child(-n+3) {
    background-color: #e0aba2; /* Tomato red, change as needed */
}