/* styles.css */
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

header {
    background-color: #1D263B; /* Royal blue */
    color: #fff;
    padding: 20px;
    text-align: center;
} 

footer {
    background-color: #1D263B; /*Royal blue*/
    color: #fff;
    text-align: center;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.viewer {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid #ddd;
    padding: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.controls {
    margin-top: 10px;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #e0e0e0;
}

.side-button {
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.side-button:hover {
    background-color: #e0e0e0;
} 
 
footer {
    background-color: #1D263B; 
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
} 