        .container {
            margin: 20px auto;
            padding: 0 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .card {
            width: calc(50% - 20px); /* Adjust the width as needed */
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            
        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
            font-size: 16px;
        }
        th {
            background-color: #f2f2f2;
            color: #333;
            font-size: 18px;
            font-weight: bold;
        }/* Style the navigation bar */
        .navbar {
        overflow: hidden;
        background-color: #908e8e;
        }

        /* Navigation link styles */
        .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        }

        .nav-item {
        float: left;
        }

        .nav-link {
        display: block; 
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        }

        /* Change background color on hover  */
        .nav-link:hover {
        background-color: #434953;
        }