  /* General Styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Light blue-gray background */
    margin: 0;
    padding: 0;
    /* flex-direction: column; */
}

/* .container {
    flex: 1;
} */

header {
    background: linear-gradient(to right, #6E178B, #30134F); /* Purple Gradient */
    color: #fff;
    padding: 20px;
    text-align: center;
}


nav ul li a {
    color: #1D263B; 
}
nav ul li a:hover {
    background-color: #d3d3d3; /* Light gray on hover */
    color: #1D263B; /* Royal blue */
}


main {
    padding: 20px;
}


/* Section Styles */
section {
    margin-bottom: 20px;
}


/* Table Styles */
/* Reset default table styles */


/* Button Styles */
.btn {
    background-color: #3757be; /* Royal blue */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}


/* Footer Styles */
footer {
    background: linear-gradient(to right, #8455b0, #330e62); /* Light Purple Gradient */
    color: #fff;
    text-align: center;
    padding: 10px;
    clear:both;
    margin-top: 20px;
}


/* Horizontal alignment for section links */    
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}
nav ul li {
    margin-right: 25px;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 200px; 
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: #9f9f9f;
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.menu a:hover {
    background-color: #f0f0f0;
}
#navbar {
    background-color: #333;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #111;
}

.team-badges img {
    width: 60px; /* Adjust based on your preference */
    height: auto;
    padding: 20px; /* Spacing between logos */
}


.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0; /* No gap between badges */
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
        var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 10s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 10s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}






